@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Global Styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cormorant Garamond", serif;
    background-color: #f4e9dd; /* Background color similar to the one in the image */
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: none;
    padding: 20px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Projects Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.projects {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

.projects .highlight {
    width: 50px;
    height: 50px;
    background-color: #a05b34; /* Color of the small decorative rectangle */
    display: inline-block;
    margin-bottom: 20px;
}

.projects h1 {
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #d3c4b1;
    height: 200px;
    width: 250px;
    border-radius: 20px;
    justify-content: center;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}